:root {
    --blue-gray: rgba(139, 233, 250, 0.87);
}


body {
    margin: 0;
}

header {
    background-color: rgb(62, 65, 65);
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;

}

header h1 {
    background-color: var(--blue-gray);
    text-align: end;
    padding-left: 50px;
    padding-bottom: 5px+;
    padding-top: 5px;
    padding-right: 10px;
    width: 25%;
    color: rgb(62, 65, 65);
}



header nav {
    padding-top: 15px;
    margin-right: 20px;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

header nav ul {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;

}


section h1 {
    color: rgba(49, 49, 97, 0.911);
    display: inline-block;
    padding-left: 10%;
}

a {
    color: var(--blue-gray);
    text-decoration: underline;
}

/* img{
    max-width: 100%;
} */


.main-image {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Ocean_Floor.png");
    background-size: contain;
    background-position: center;
    margin: 0;
}

.main-image section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

figcaption {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1%;
    background-color: var(--blue-gray);
    margin-right: 40px;
    font-size: xx-large;
    color: rgb(62, 65, 65);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

main {
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

main section p {
    padding-left: 40px;
    width: 90%;
}

.description {
    flex-direction: column;
}

.section-title {
    display: block;
    max-width: 150px;
    min-width: 150px;
    padding-right: 1ch;
    border-right: 2px solid darkblue;
}

/* 
.work-app {
    width: 100%;
} */


.main-app {}

.large {
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.small {
    object-fit: contain;
    max-width: 70%;
    height: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

/* .main-flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
} */
.flex-item-center {
    flex: 100%;

}


.flex-item-left {
    flex: 50%;

}

.flex-item-right {
    flex: 50%;

}


.highlight {
    display: inline-block;
    background-color: gold;
}

.highlight img:hover {
    opacity: 0.8;
}


.other-app {
    /* display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: calc((100vw - 150px) / 2.8);
    position: relative;
    border: 2px solid var(--blue-gray);
    margin:0; */

    /* height: auto;
    max-width: 100%;
    background-image: url("./assets/images/Placeholder.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
}

.other-app img {
    /* max-width: 100%;
    min-height: 100%; */

}

.other-app .info {
    /* position: absolute;
    bottom: 15px;
    left: 0px;
    padding: 5px;
    background-color: var(--blue-gray); */
}



/* .flex-left {
    border: solid 2px var(--blue-gray);
    padding: 10px;
    flex: 50%;
    
}

.flex-right {
    border: solid 2px var(--blue-gray);
    padding: 10px;
    flex: 50%;

}  */


section nav ul li p,
section nav ul li a {
    color: rgba(49, 49, 97, 0.911);
    text-decoration: underline;
    width: max-content;
}


.contacts {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.contact-list {
    text-decoration: underline;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}


/* @media screen and (max-width: 768px) {

    header{
        flex-wrap: wrap;
    }
    .flex-container {
        flex-direction: column;
    }
} */